.profile-pic {
  margin-bottom: 1vw;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: 0 0 8px 3px #b8b8b8;
  position: relative;
}
.profile-pic .image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.profile-pic .edit-icon {
  position: absolute;
  top: 20px;
  right: -7px;
  /* border: 1px solid; */
  border-radius: 50%;
  /* padding: 11px; */
  height: 30px;
  width: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: cornflowerblue;
  box-shadow: 0 0 8px 3px #b8b8b8;
}
.no-users {
  display: flex;
  justify-content: center;
}
.users-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.users-table td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.users-table tr:nth-child(even) {
  background-color: #dddddd;
}
.delete-btn {
  color: blue;
  text-decoration: underline;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 2vw; */
}
.form {
  display: flex;
  justify-content: space-evenly;
  padding: 3vw;
}
@media only screen and (min-width: 0) and (max-width: 992px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw;
  }
}
